  <footer>
    <div class="outer">
      <div class="flex">
        <div class="icon">
          <img src="/resources/sofa_large.png">
        </div>

        <div class="info">
          <span>Bay Hotel</span>
          <span> Bay Hotel, Βυζαντίου 54, Αλόννησος,  Ελλάδα</span>
          <span>+3069999999999</span>
          <span>BayHotel@outlook.com.gr</span>

        </div>      
      </div>

      <hr>

    </div>


  </footer>