<nav class="flex-container">
    <div class="sticky-container">
        <a href="/kratisis">Reservations</a>
        <a href="/profile">Profile</a>

        <a href="/aposindesi">Logout</a>
    </div>
</nav>
