header.top {
  background-color: black;
  padding: 0.6em 3em; 
  width: 100%;
  position: fixed;
  z-index: 20;
  display: flex;
  align-items: center; 
  white-space: nowrap; 
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}



header.top nav{
  margin: 0;
  padding: 0;
}

header.top nav ul {
  
  list-style-type: none;
  display: flex; /* Added flexbox for nav items */
  align-items: center; /* Center items vertically */
  margin: 0; /* Added margin */
  padding: 1em; /* Added padding */
}

header.top nav li{
  margin-right: 1.5em;
}

header.top a{
  color: white;
  text-decoration: none;
}
header ul button{
  padding:0;
  margin:0;
  height: 2.6em;
  min-width:3em;
  border:none;
}




header ul button img{
  object-fit: cover;
  padding:0px;
  margin:0px;
  height:100%;
  width:100%;
}

button.eggrafi{

    background-color:transparent;
    border:none;
    color:white;
    margin-right:5em;
    font-size:1em;
    padding: 0.6em 1em; /* Adjust padding as needed */


}

.buttons{
  margin-left:auto;
  display:flex;
  float:right;
}

.booking-button.header {
	border: none;
  margin-right: 2em; /* Adjust margin as needed */
  padding: 0.6em 1em; /* Adjust padding as needed */
  width: 100px;
	border-radius: 2em;
  text-align: center;
	background-color: rgb(98, 98, 28);
  color: white;
	font-size: 1em;
}

.booking-button:hover {
	background-color: rgb(131, 131, 31);
}

button.eggrafi:hover{
  color:rgb(189, 178, 53);
}

.dropdown.header{
  position: relative;
}

.booking-wrapper{
  position: fixed;
  max-height: 32rem;
  max-width: 70rem;
  width: 100%;
  height: 100%;
  top: 5.9em;
  right: 0;
  z-index: 6;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@media  (max-width: 1200px) {
   header.top .outer a{
    display:none;
  }

  .buttons{
    flex-direction:column;
    text-align: left;
  
  }

  button.eggrafi{
    margin-right:4em;
    padding-left:0;
  }

  .booking-button.header {
    margin:0;
  }

  header.top {
    padding: 0.6em 1em; 
  }

}

@media (min-width:1200px){
  header ul li:first-child{
    display:none; 
}


}





.dropdown.active .booking-wrapper{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


.booking-wrapper {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%; 
}

.main-booking-info{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  width: 100%;
  background-color: rgb(15,15,15);
  color: white;
}

.check-in-date,
.check-out-date,
.adult-count,
.continue-button button,
.close-button button{
  margin: 1em;
  text-align: center;
  font-size: 1.2rem;
}

.calendar {
  width: 40rem;
  height: 25rem;
  left: 0;
  margin: 0 2.5rem 1rem;
  background-color: black;
}

.continue-button button,
.close-button button {
  padding: 10px 20px;
  margin-right: 2rem;
  background-color: rgb(98, 98, 28);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.continue-button button:hover,
.close-button button:hover {
  background-color: rgb(131, 131, 31);
}

.countButton{
  border: none;
  background-color: rgb(98, 98, 28);
  color: white;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  width: 1.5rem;
}


.info-wrapper{
  height:100%;

}

.display_info{
    position: fixed;
    left:0em;
    background-color: rgb(7, 5, 5);
    top:6em;
    height: 24em;
    width: 15em;
    pointer-events:none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.display_info.active{
  opacity: 0.8;
  pointer-events: auto;
}



.display_info ul{
  
  height:100%;
  display:flex;
  flex-direction: column;
}

.display_info ul li{
  
  width:100%;
  margin-bottom:2em;
  left:0;
  padding-left:3em;
  
}




