<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bay Hotel</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="icon" href="/resources/icon.png" type="image/x-cion">

    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}" />
    {{/each}}

    <script src="/js/header_buttons.js" defer></script>

    {{#each js}}
        <script src="/js/{{this}}" defer></script>
    {{/each}}
</head>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>
</html>