/* Ftiaxtike stin arxi tou eksaminou opote den exei grafei me ton beltisto tropo */


body {

    margin:0;
    padding:0;
    background: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  }

main{
    margin-top:4.7em;

    display:flex;
    flex-direction: row;
}

.picture_container{
    position: relative;
    min-height:1000px;
    width:40%;
}
.picture_container p{
    position: absolute;
    top:0em;
    font-size:3em;
    color: rgb(255, 255, 255);
    left:1em;
}

footer{
    margin-top:0;
    margin-bottom:0;
}



.picture_container img{
    width: 100%; /* Make the image take 100% width of its container */
    height: 100%; /* Make the image take 100% height of its container */
    object-fit: cover; /* Ensure the image covers the entire container */
    display: block; /* Remove any extra spacing */
    
}
div.wrapper{
    width: 60%;
}

main .form_container{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top:17em;
    align-items: center; /* Vertically center the items */
}




@media  (max-width: 700px){
    main{
        flex-direction: column;
    }

    .picture_container{
        height:20em;
        width:100% !important;
        min-height: 0;
    }

    .picture_container p{
        left:0.2em;
    }


    div.wrapper{
       width: 100%;
    }


    main .form_container{
        top:0;
        bottom:0;
    }



    main .form_container{
        margin-top: 3em;
    }



    .container{
        /* width:90%; */
        margin:0 auto;
        margin-bottom: 1em;
    }

    


    .form_container div.container{
        margin-bottom: 5em;;
    }

}



.pageWrapper{
    flex:1
  }
  

  .paymentForm{
      /* background-color: red; */
      max-width:550px;
      margin-left:4em;
      margin-top:4em;
      margin-bottom:4em;
  }
  .paymentForm .container{
      display:grid;
      gap:1.5em;
  }
  

  
  @media only screen and (min-width: 600px) {
      .paymentForm .container {
        grid-template-columns: repeat(2, 1fr);
  
          }
    }
  
  
    .paymentForm .field-holder{
      width:240px;
      position:relative;
      padding-left:0;
  }
  
  .paymentForm label.title{
      position:relative;
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom:2em;
      width:150px;
      height:1em;
  }
  
  .paymentForm label.title4{
      width:100%;
  }
  
  .paymentForm label.title2{
      margin-top:1.5em;
      margin-bottom:2em;
      margin-left:1.2rem;
      height:1em;
  }
  .paymentForm .title3.title3{
      margin-bottom:0.4em;
  }
  
  
  .paymentForm .title4.title4{
      margin-bottom:0.8em;
  }
  
  
  .paymentForm label{
      position:absolute;
      top:0;
      left:0;
      color: #424242;
      display:flex;
      align-items: center;
      cursor:text;
      transition: 0.15s ease-in-out;
      
  }
  
  .paymentForm input{
      padding-left: 8px;
      outline:none;
      width:200px;
      border-radius: 4px;
      border: 1px solid  black; /* Explicitly set border style and width */
      
      
  }
  
  .paymentForm .field-holder.imerominiaLiksis,.field-holder.onomaKatoxou{
      margin-left:1.8em;
  }
  
  .paymentForm input:nth-of-type(){
      background-color: red;
  }
  
  .paymentForm .required label::before, #posoPliromis::before{
      content:"*";
      color:red;
  }
  
  .paymentForm input,label,span{
      font-size:1em;
      height:2.8rem;
  
  }
  
  .paymentForm .field-holder label{
      margin-left:0.2em;
  }
  
  .eksoflisi{
      margin-bottom:2em !important;
  }
  
  .politikiKratiseon.included{
      margin-top:3em !important
  }
  
  .elem{
      margin-left:1.8rem !important; 
      margin-bottom:2em;
      width:190px;
  }
  
  .elem .elem2{
      position: relative !important;
      margin-bottom:2em !important;
      bottom:5em !important;
  }
  
  
  .paymentForm  input:focus + label,
  .paymentForm input:valid + label,
  #cardNumber+label,
  #date+label,
  #cvv+label{
      color:#424242;
      font-size: 0.75em;
      top:-14px;
  
  }
  
  #cardNumber[value=""]:not(:focus) +label,
  #date[value=""]:not(:focus) +label,
  #cvv[value=""]:not(:focus) +label
  {
      top:0;
      left:0;
      font-size: 1em;
  }
  
  .paymentForm input+label {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  
  
  #checkbox1,#checkbox2{
      position:relative;
      margin-left:17.5em;
      height: 1em;
      width:1em;
      border-radius: 50%;
      top:0.8em;
  
      /* accent-color: white; */
  }
  
  .paymentForm .terms{
      width: 90%;
  }
  
  .paymentForm .terms p{
      margin-left:1.8em;
      margin-top:0.2em;
      margin-bottom:0.6em;
      width:100%;
  }
  
  
  .paymentForm #hr1,#hr3{
      width:92%;
      background-color: rgb(0,0,0);
      
      height:0.1rem;
      margin:2em auto;
      border:none;
    
  }
  
  
  .paymentForm .left,.right{
      font-size: 1.9rem;
      font-weight: bold;
  }
  .paymentForm .down, .posoPliromis{
      width:100%;
      display:flex;
      justify-content: space-between;
  }
  
  .paymentForm .left{

        margin-left:2rem;
  }
  
  .paymentForm .right{
      margin-right:1rem;
      text-align:right;
  }
  
  .paymentForm .smaller{
      font-size: 1.5em;
      height:1.2em;
     
  }
  
  
  
  .paymentForm .left.smaller{
      padding-right: 3.3em;
  }
  

  
  #d1{
      position:relative;
      height:0.1em;
      
  
  }
  
  
  #hr2{
      position:absolute;
      width:4em;
      
      background-color: black;
      height:0.1em;
      margin-top:0.1em;
      right:1em;
      border:none;
    
  }
  
  
  
    #checkout{
      position:relative;
    }
  
    #checkout .button{
      margin-top: 2em;
      margin-bottom:2em;
      right:0em;
      height:4em;
      width:100%;
  
      padding: 10px 20px;
      background-color: rgb(98, 98, 28);
      color: white;
      border: none;
      border-radius: 1.5em;
      cursor: pointer;
    }
  
    #checkout .button:hover{
      background-color: rgb(60, 60, 60);
  
  }

  .posoPliromis{
    position: relative;
  }

.posoPliromis{
    width:100%;
    display:flex;
    justify-content: space-between;
}

  .posoPliromis input{
    height:2em;
    text-align:right;
    margin-right:1em;
  }

  .posoPliromis label{
    
    text-align:left;
    margin-left:2rem;
    font-size: 2rem;
    font-weight: bold;
    color:black ;
  }

  .posoPliromis{
      width:100%;
      display:flex;
      justify-content: space-between;
  }
  
  label#posoPliromis{

    margin-top:2rem;
    position: relative;
    margin-right:1em;
  }





  #poso{
    width:3em;
    height:2em;

    margin-top:2rem;
    position: relative;
  }
  
  @media  (max-width: 600px) {
      :root{
          font-size: 0.8rem;
        }
  
  }
  
    
  
  
  @media  (max-width: 600px) {
  
  
      .paymentForm{
          margin-left:0.2em;
          margin-right:0.2em;
      }
  
      .paymentForm{
          padding-left: 0;
      }
  
      .paymentForm .field-holder.imerominiaLiksis,.field-holder.onomaKatoxou{
          margin-left:0em;
      }
  
      .paymentForm .field-holder.required{
          margin-left:1.2em;
          width:140px;
      }
  
      #posoPliromis,.sinolo{
        font-size: 1.5em !important;
      }
  
        main{
          flex-direction: column;
        }
  
        p.titlos{
          font-size: 2.5em;
          margin-left:0.2em;
        }


      
  
  }