
body {

    margin:0;
    padding: 0;
    
}


main{
    display: flex;
    flex: row;
    min-height: 110vh;
}


main .kratisis:first-of-type{
    margin-top:2em;
    margin-right:2em;
    width:100%;
}

.kratisisContainer{
    display: flex;
    flex-direction: column;
}

.flex-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-right: 1px solid #cccccc; /* Adjust border styling */
    margin-right:2em;

  }

#myBooks{
    margin-top:2em;
    font-size:3em;
}
  
.sticky-container {
    position: sticky;
    top: 8em; /* Adjust the distance from the top as needed */
    padding: 10px;
    width:6em;
}

.sticky-container a {
    display: block; /* Make the link fill the container */
    text-decoration: none; /* Remove default link underline */
    color: #333333; /* Adjust link color */
}

.sticky-container a {
    margin-bottom:2em;
    }

.room{
  display:flex;
  flex-direction: row;
  max-width:1400px;
  height:14em;
  border: 3px solid black;
  background-color: rgb(251, 249, 246);
  margin-bottom:4em;

}

.room .image{
  flex:2;
  position: relative;
  border-right:1px solid black;


}

.room img{
  object-fit: cover;
  max-height: 14em;
  height: 100%;
  width: 100%;
  
}



.room .info{
    flex:1.5;
    min-width:190px;
    color:black;
    display:flex;
    flex-direction: column;
    border-right: 2px solid black;

}

.info p{

  margin:0 auto;

}

.info p:first-child,.reservationInfo h3, .kritiki h3{
    margin:0 auto;
    text-align: center;
    padding-left:0.1em;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    padding:0.6em 0em;
    border-bottom: 3px solid black;
}

.info p:nth-child(2){
  padding-top:0.5em;
  display:inline-block;
  margin:0 auto;
  margin-bottom:0.5em;
}

.info ul{
  margin-top:0;
  border-bottom: 2px solid black;
  padding-left:1.5em;
  text-align: left;
  font-size: 0.9em;
  padding-bottom:1em;
}

.atoma .image_container{
  display: inline-block;
  width:1.8em;
  height:1em ;
  overflow: hidden;

}

.atoma{
  padding-left:1em;
}

.atoma_bed{
  display:inline
}

.atoma div.atoma_bed:nth-of-type(1){
  margin-right:0.5em;
}


.reservationInfo{
    max-width: fit-content;
    min-width: 255px;
    flex:1.8;
    border-right:3px solid black;
  }



.reservationInfo .infoContainer{
    margin-left:1em;
    margin-right:1em;
    margin-top:0;
}

.reservationInfo .infoContainer p{
    margin:0;
    margin-top:0.25em;
    
}

.kritiki{
    flex:1.5;
    border-right:3px solid black;
}

.kritiki textarea{
    resize: none;
    background-color: rgb(251, 249, 246);

    border-right:none;
    margin: 0;
    width: 99%;
    padding:0;
    
}

.kritiki .disabled{
    pointer-events: none;

}

.kritiki textarea:focus{
    outline: none;
}

.kritiki input{
    box-sizing: content-box;
	border: none;
    padding: 0.6em 1em; /* Adjust padding as needed */
	border-radius: 2em;
	background-color: rgb(98, 98, 28);
    color: white;
    float:right;
    margin-top:1em;
}

.kritiki input.disabled{
    display:none;
}

.kritiki input:hover{
    background-color: rgb(131, 131, 31);
    cursor: pointer;
}





.book{
  position: relative;
  flex:0.7;
  font-size: 1.2em;
  min-height: 10em;;
  min-width: 200px;
  display:flex;
  flex-direction: column;
  
}

.book .kostos{
  top:40%;
  position:absolute;
}

.book button{
    box-sizing: content-box;
	border: none;
    padding: 0.6em 2em; /* Adjust padding as needed */
	border-radius: 2em;
	background-color: rgb(98, 98, 28);
    color: white;
    float:right;
    width:4em;
    margin-top:0.9em;
    margin-right:0.5em;


}

.book .desc{
    margin-top:0.2em;
    font-size: 0.8em;;
    display: block;
}


.book .buttonContainer{
    display:flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the end (right) */

}


.book button:hover{
    background-color: rgb(131, 131, 31);
    cursor: pointer;

}


@media  (max-width: 1500px) {

    nav.flex-container{
        display: none;
    }

    .room{
      flex-direction: column;
      height: fit-content;
      font-size:1.3em !important;
  
    }
  
    
  
    .info{
      border-right:none;
      border-bottom:3px solid black;
      border-right:none !important;
  
    }
  
    main{
      padding-left:0.4em;
      border: none;
    }
  
    .book{
      border-top:3px solid black;
    }
  
    .book button{
      font-size: 0.6em;
      position: relative;
      right:0;
      float:right;
      margin-top:2em;
    }

  


    .room .image{
      border-right:none;
    }

    .reservationInfo{
        max-width: 1400px;

        border-right: 0;
        width:100%;
    }

    .kritiki{
        border-top:3px solid black;
        border-right:none;
    }

    .kritiki input{
        margin-bottom: 1em;
    }
  }


  @media  (max-width: 600px) {

    :root{
      font-size: 0.8rem;
    }
  }


.akirosi.disabled{
  display:none;
  pointer-events: none;
}

.pliromi.disabled{
  display:none;
  pointer-events: none;
}

.invisible{
  display:none;
  pointer-events: none;
}