body {

    margin:0;
    padding:0;
    background: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


  }

main{
    flex:1;
    margin-top:4.7em;

    display:flex;
    flex-direction: row;
}

.picture_container{
    position: relative;
    min-height:1000px;

    width:40%;
}
.picture_container p{
    position: absolute;
    top:0em;
    font-size:3em;
    color: rgb(255, 255, 255);
    left:1em;
}

footer{
    margin-top:0;
    margin-bottom:0;
}



.picture_container img{
    width: 100%; /* Make the image take 100% width of its container */
    height: 100%; /* Make the image take 100% height of its container */
    object-fit: cover; /* Ensure the image covers the entire container */
    display: block; /* Remove any extra spacing */
    
}
div.wrapper{
    width: 60%;
}

main .form_container form{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top:3em;
    align-items: center; /* Vertically center the items */
}

#welcome{
    position: relative;
    margin:0 auto;
    top:1em;
    display: flex;
    margin-left:1em;
    font-size:4em;
}



form.login input{
    padding:0.7rem;
    margin: 0;
    margin-top:4em;
    border: 2px  solid  rgb(98, 98, 28);;
    outline: none;
    
}

form.login input,.error{
    width:14rem;
}
.inputContainer{
    display: inline-block;
}

form.login span:first-of-type{
    display: inline-block !important;
    max-width:6em;
    min-width:6em ;
    position: relative;
    margin-left:0.5em;
    
}
form.login span:first-of-type::after{

    content:"*";
    color:red;
}

form.login span.emptyHolder::after{
    content:"";
}


form.login .button{
    box-sizing: content-box;
    background-color: white;
    border-radius: 2em;
	background-color: rgb(98, 98, 28);
    color: white;
    margin-top:2.5em;
    margin-bottom:0em;

}

#response{
    margin-top:0;
    margin-bottom:4em;
    font-size:1.1rem;
}


form.login .button:hover{
    background-color: rgb(131, 131, 31);
    border: 2px  solid  rgb(131, 131, 31);

    cursor:pointer;

}


a:hover{
    cursor: pointer;
}

  

  /* This is the style of our error messages */
  .error {
    margin:0;
    position: absolute;
    color: white;
    margin:0;
    border-radius: 0 0 5px 5px;
    box-sizing: content-box;
    word-wrap: break-word ;
    
  }
  
  .error.active {
    padding:0 0.7rem;
    background-color: #900;

    border: 2px solid #900;

  }


  


@media  (max-width: 700px){
    main{
        flex-direction: column;
    }

    .picture_container{
        height:20em;
        width:100%;
        min-height: 0;

    }

    .picture_container p{
        left:0.2em;
    }


    :root{
        font-size: 0.8rem;
    }

    div.wrapper{
        width:auto;
        overflow: hidden;
    }

    main .form_container{
        top:0;
        bottom:0;
    }

    #welcome{
        margin-top:4em;
        justify-content: center;
        font-size: 2em;
        margin-bottom:2em;
        position: relative;
        margin:0 auto;
        left:1.3em;
        

    }

    form .field{
        text-align: center;
    }

    main .form_container{
        margin-top: 3em;
    }



    form.login input,.error{
        width:10rem;
    }



}


@media  (max-width: 316px){
    form.login span:first-of-type{
        margin-top:4em;
    }



    form.login input{
        margin-top: 0em;

    }

    form.login .button{
    margin-top: 1em;
    }

    #response{
        background-color: blue !;
        display: flex;
        justify-content: center;
    }

}

