

    <section class="container">

 
      <article class="article">
          <h1>Ανακαλύψτε την Αλόννησο...</h1>
          <div class="segment">
              <img src="resources/aksiotheata/fokia.jpg" alt="Το Εθνικό θαλάσσιο πάρκο Αλοννήσου φιλοξενεί τη Μεσογειακή Φώκια Μονάχους" class="image">
              <p>Μη χάσετε την ευκαιρία να επισκεφτείτε το Εθνικό Θαλάσσιο Πάρκο Αλοννήσου Βορείων Σποράδων, που είναι το πρώτο Θαλάσσιο Πάρκο της Ελλάδας, και η μεγαλύτερη προστατευμένη θαλάσσια περιοχή στην Ευρώπη. Εκτείνεται στη νήσο Αλόννησο και σε γειτονικά νησιά και βραχονησίδες. Φιλοξενεί το είδος Μεσογειακής φώκιας(Monachus monachus), ένα από τα πιο σπάνια και επαπειλούμενα είδη φώκιας. Εκτιμάται ότι υπάρχουν μόλις 800 φώκιες του είδους παγκοσμίως. </p>
          </div>
          <div class="segment">
              <img src="resources/aksiotheata/amforis.jpg" alt="Η Αλόννησος φιλοξενεί το πρώτο υποβρύχιο μουσείο της Ελλάδας. Αφορά ένα ναυάγιο του 420 π.Χ. από το οποίο έχουν διασωθεί άθικτοι οι 4000 αμφορείς κρασιού που μετέφερε ως εμπόρευμα στο αμπάρι." class="image">
              <p>Η Αλόννησος είναι γνωστή για το πρώτο υποβρύχιο μουσείο της Ελλάδας το οποίο είναι  σε 30 μέτρα βάθος και βρίσκεται στο ναυάγιο της Περιστέρας. Το ναυάγιο, που χρονολογείται περίπου στο 420 π.Χ., αφορά ένα πλοίο  Αθηναϊκής μάλλον καταγωγής κατασκευασμένο στο τέλος των Πελοποννησιακών Πολέμων.  Ο επισκέπτης μπορεί να δει τους 4000  αμφορείς κρασιού που υπήρχαν στο αμπάρι του πλοίου κάνοντας υποβρύχια κατάδυση ή από διαδρασικές οθόνες στη στεριά. Αυτός ο ενάλιος αρχαιολογικός χώρος αποτελεί έναν από τους πιο διάσημους προορισμούς καταδύσεων παγκοσμίως και τον έχει επισκεφτεί και το National Geographic.  </p>
          </div>
          <div class="segment">
              <img src="resources/aksiotheata/cave.jpg" alt="Η μπλε Σπηλιά είναι η πιο γνωστή και εντυπωσιακή του νησιού. 3" class="image">
              <p>Η ακτογραμμή του νησιού είναι διάσπαρτη με βραχώδεις και απομονωμένες σπηλιές. Η πιο γνωστή από αυτές είναι η Μπλε Σπηλιά, που βρίσκεται στo βορειοανατολικό τμήμα του νησιού, κοντά στην απόκρημνη παραλία  Στροβίλι. Τα καταγάλανα νερά, οι απότομες πλαγιές και το παρθένο τοπίο θα σας μείνουν αξέχαστα. </p>
          </div>
          <div class="segment">
              <img src="resources/aksiotheata/m.png" alt="Δίπλα από την Αλόννησο στο νησί της κυρά Παναγιάς βρίσκεται το ομώνυμο μοναστήρι." class="image">
              <p>Το νησάκι της κυρά Παναγιάς βρίσκεται δίπλα στην Αλόννησο και οφείλει το όνομα του στο ομώνυμο μοναστήρι, το οποίο  είναι από τα πιο εντυπωσιακά αξιοθέατα. Το μοναστήρι χρονολογείται στον 16ο αιώνα και στο εσωτερικό του υπάρχει ένα πανέμορφο εκκλησάκι αφιερωμένο στην Παρθένο Μαρία. Επίσης, στο χώρο αυτό φιλοξενείται  έκθεση που παρουσιάζει αντικείμενα των Χριστιανών του 6ου και 7ου αιώνα μ.Χ. Αν είστε στο νησί τον δεκαπεντάυγουστο θα έχετε την ευκαιρία να συμμετάσχεται και στη γιορτή της Κοίμησης της Θεοτόκου. </p>
          </div>

          
      </article>
    </section>
