

    <section class="container">

 
      <article class="article">
          <h1>Discover Alonnisos...</h1>
          <div class="segment">
              <img src="resources/aksiotheata/fokia.jpg" alt="Το Εθνικό θαλάσσιο πάρκο Αλοννήσου φιλοξενεί τη Μεσογειακή Φώκια Μονάχους" class="image">
              <p>Don't miss the opportunity to visit the National Marine Park of Alonissos Northern Sporades, which is the first Marine Park in Greece, and the largest marine protected area in Europe. It extends to the island of Alonissos and to neighboring islands and islets. It hosts the species of Mediterranean seal (Monachus monachus), one of the rarest and most endangered seal species. It is estimated that there are only 800 seals of the species worldwide. </p>
          </div>
          <div class="segment">
              <img src="resources/aksiotheata/amforis.jpg" alt="Η Αλόννησος φιλοξενεί το πρώτο υποβρύχιο μουσείο της Ελλάδας. Αφορά ένα ναυάγιο του 420 π.Χ. από το οποίο έχουν διασωθεί άθικτοι οι 4000 αμφορείς κρασιού που μετέφερε ως εμπόρευμα στο αμπάρι." class="image">
              <p>Alonissos is known for the first underwater museum in Greece which is 30 meters deep and is located on the wreck of Peristera. The wreck, which dates back to around 420 BC, involves a ship of probably Athenian origin built at the end of the Peloponnesian Wars. The visitor can see the 4000 wine amphorae that were in the ship's cargo by diving underwater or from interactive inland displays. This underwater archaeological site is one of the most famous diving destinations in the world and has even been visited by National Geographic.  </p>
          </div>
          <div class="segment">
              <img src="resources/aksiotheata/cave.jpg" alt="Η μπλε Σπηλιά είναι η πιο γνωστή και εντυπωσιακή του νησιού. 3" class="image">
              <p>The coastline of the island is scattered with many  isolated caves. The most famous of them is the Blue Cave, located in the north-eastern part of the island, near the steep Strovili beach. The clear blue waters, the steep slopes and the unspoiled landscape that you will never forget. </p>
          </div>
          <div class="segment">
              <img src="resources/aksiotheata/m.png" alt="Δίπλα από την Αλόννησο στο νησί της κυρά Παναγιάς βρίσκεται το ομώνυμο μοναστήρι." class="image">
              <p>The islet of Kyra Panagia is located next to Alonissos and owes its name to the homonymous monastery, which is one of the most impressive sights. The monastery dates back to the 16th century and inside there is a beautiful chapel dedicated to the Virgin Mary. Also, this place hosts an exhibition that presents Christian artifacts of the 6th and 7th centuries AD. If you are on the island on the 15th of August you will have the opportunity to participate in the feast of the Dormition of the Virgin.</p>
          </div>

          
      </article>
    </section>
