
  
  <section class="welcome-photo">

    <article>
      <p id="welcome-photo-text">
          Bay Hotel
          
      </p>
    </article>



  </section>

  <section class="cover-text">
    <p>
      Bay Hotel is located where the horizon disappears into the sea, the sandy beach joins the waves and the sun touches the Aegean sea.    </p>
    
    <div class="icons">
      <div class="row">
        <div class="elem">
          <img src="resources/icons/parking.png">
          <span>Free parking</span>
        </div>

        <div class="elem">
          <img src="resources/icons/pool.png">
          <span>Swimming-pool</span>
        </div>

        <div class="elem">
          <img src="resources/icons/wine_bar.png">
          <span>Cocktail bar</span>
        </div>
        
      </div>
      <div class="row second">
        
        <div class="elem">
          <img src="resources/icons/wifi.png">
          <span>Free wifi</span>
        </div>
        <div class="elem">
          <img src="resources/icons/Amea.png">
          <span>Disabled friendly</span>
        </div>


      </div>
    </div>

    <div class="disclaimer">
      <p>
        The whole website was created for a learning project and nothing about the hotel is real, the hotel doesn't exist and the reservations are imaginery.<br><br> Όλη η ιστοσελίδα δημιουργήθηκε στα πλαίσια ενός project, όλα όσα αναφέρονται για το ξενοδοχείο είναι πλασματικά, το ξενοδοχείο δεν υπάρχει και ούτε γίνονται πραγματικά κρατήσεις.
      </p>
    </div>

  </section>

  <section class="pictures">

      <div class="image-row">
        <img src="resources/start-page-gallery/room1.jpg"  class="image-item" onclick="enlargeImage(this.src)">
        <img src="resources/start-page-gallery/swimming-pool.jpg"  class="image-item" onclick="enlargeImage(this.src)">
        <img src="resources/start-page-gallery/room2.jpg"  class="image-item" onclick="enlargeImage(this.src)">
        <img src="resources/start-page-gallery/room3.jpg"  class="image-item" onclick="enlargeImage(this.src)">
        <img src="resources/start-page-gallery/room4.jpg"  class="image-item" onclick="enlargeImage(this.src)">
        <img src="resources/start-page-gallery/coffee.jpg"  class="image-item" onclick="enlargeImage(this.src)">
        <img src="resources/start-page-gallery/croissant.jpg"  class="image-item" onclick="enlargeImage(this.src)">

        <img src="resources/start-page-gallery/eggs.jpg"  class="image-item" onclick="enlargeImage(this.src)">
        <img src="resources/start-page-gallery/pancakes.jpg"  class="image-item" onclick="enlargeImage(this.src)">
        <img src="resources/start-page-gallery/breakfast-room.jpg"  class="image-item" onclick="enlargeImage(this.src)">

        

    </div>
    
    <div id="enlarged-image-container">
      <div class="wrapper">
        
        <img id="enlarged-image">
        <button class="close">x</button>

        <button class="left-arrow arrow"><</button>
        <button class="right-arrow arrow">></button>

      </div>
    </div>

  </section>

  <section class="map">

    <div class="maps">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d26996.643670980528!2d23.846279675895946!3d39.140517182873644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMznCsDA4JzUwLjMiTiAyM8KwNTInMjAuMCJF!5e0!3m2!1sen!2sgr!4v1721736756227!5m2!1sen!2sgr"
        width="100%"
        height="500"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>

  </section>
  
    <section class="room-container">

        <div class="room">
            <div class="background-image" id="r1"></div>
            <h3 class="name">Presidential Luxury Suite</h3>
            <p class="description"> Experience the height of luxury in our Presidential Luxury Suite. This spacious and elegantly designed retreat offers unparalleled comfort and elegance. With its impressive and modern decor, luxurious amenities and breathtaking views, every moment in the Presidential Luxury Suite will be unforgettable. </p>
            <h4 class="advantages">Advantages</h4>
            <ul class="list">
              <li>Sea view</li>
              <li>Jacuzzi</li>
              <li>Japanese Toilets</li>
              <li>4 Bedrooms</li>
            </ul>
            <hr class="seperator"> 
            <div class="anchor-container">

              <a href="/room/yperpoliteli">View </a>

            </div>
        </div>



        <div class="room">
          <div class="background-image" id="r2"></div>
            <h3 class="name">Deluxe Two Bedroom Suite</h3>
            <p class="description"> Indulge in the ultimate retreat with our Deluxe Two Bedroom Suite. Combining contemporary style with comfort, this suite offers plenty of space to relax and rejuvenate. Decorated with tasteful furnishings and soft colors, each room offers a peaceful atmosphere for an unforgettable vacation. </p>
            <br><h4 class="advantages">Advantages</h4>
            <ul class="list">
              <li>Sea view</li>
              <li>Japanese Toilets</li>
              <li>Modern design</li>
              <li>Accessibility for disabled</li>
            </ul>
            <hr class="seperator"> 
            <div class="anchor-container">

              <a href="/room/deluxe2">View </a>

            </div>
        </div>
        <div class="room">
          <div class="background-image" id="r3"></div>
            <h3 class="name">Deluxe One Bedroom Suite</h3>
            <p class="description"> Our Deluxe Suite offers a peaceful escape with its modern design and discreet elegance. Designed for comfort and relaxation, this one-bedroom suite features minimalist decor, ensuring a tranquil atmosphere for a restful stay. Whether traveling for business or pleasure, the Deluxe Suite offers a quiet and comfortable retreat. </p>
            <h4 class="advantages">Advantages</h4>
            <ul class="list">
              <li>Sea view</li>
              <li>Japanese Toilets</li>
              <li>Modern design</li>
            </ul>
            <hr class="seperator"> 
            <div class="anchor-container">

              <a href="/room/deluxe1">View </a>

            </div>
        </div>
        <div class="room">
          <div class="background-image" id="r4"></div>
            <h3 class="name">Two bedroom apartment</h3>
            <p class="description">Discover the spacious and airy two bedroom apartment. With its inspiring and modern design, this spacious residence offers a perfect combination of style and functionality. Featuring luxurious amenities and elegant furnishings, each room exudes a sense of warmth and comfort, creating a welcoming atmosphere for your vacation. </p>
            <h4 class="advantages">Advantages</h4>
            <ul class="list">
              <li>Aegean architecture</li>
              <li>30' TV</li>
              <li>Aircondition</li>
              <li>Accessibility for disabled</li>

            </ul>
            <hr class="seperator"> 
            <div class="anchor-container">

              <a href="/room/simple2">View </a>

            </div>
        </div>
        <div class="room">
          <div class="background-image" id="r5"></div>
            <h3 class="name">One bedroom apartment</h3>
            <p class="description"> The stylish and comfortable one bedroom apartment combines aegean architecture with all the comforts. Designed with a minimalist aesthetic, this beautiful apartment offers everything you need for a comfortable stay. From the elegant furnishings to the luxury amenities, every detail has been carefully designed to ensure an enjoyable experience. </p>
            <h4 class="advantages">Advantages</h4>
            <ul class="list">
              <li>Aegean architecture</li>
              <li>30' TV</li>
              <li>Aircondition</li>
            </ul>
            <hr class="seperator"> 
            <div class="anchor-container">

              <a href="/room/simple1">View </a>

            </div>
        </div>
        
  </section>
   