    <main>
        <div class="picture_container">
            <img src="/resources/start-page-gallery/swimming-pool2.jpg">
            <p>Bay Hotel</p>
        </div>

        <div class="wrapper">

            <p id="welcome">Welcome</p>

            <div class="form_container">

                <form class="login" action="/loginPost" method="post">
                    
                        <input type="text" name="username" placeholder="Username" required
                        oninvalid="setCustomValidity('Please fill in your username.')"
                        oninput="this.setCustomValidity('')">

                        <input type="password" name="password" placeholder="Password" required
                        oninvalid="setCustomValidity('Please fill in your password.')"
                        oninput="this.setCustomValidity('')">
                        

                        <input type="submit" class="button" value="Login">
                        
                        
                    </form>
                <div class="container">

                    <p class="{{#if failed}}active {{/if}} wrong_cred">Please check your login details and try again.</p>
                    <div class="eggrafitext"> You can <a href="/signup">sign up</a> to create an account.  </div>
                </div>
            </div>
                
        </div>
        
  
    </main>
    