    <main>
        <div class="picture_container">
            <img src="/resources/start-page-gallery/swimming-pool2.jpg">
            <p>Bay Hotel</p>
        </div>

        <div class="wrapper">

            <section class="paymentForm">  
                <!-- Ftiaxtike stin arxi tou eksaminou opote i css  den exei grafti me ton kalitero tropo. -->
            
                    <form action="/displayNextBookPayment" method="post">
                        
                        <fieldset style="border-width: 2px;">
                            <legend >Payment Information</legend>
                        <label class="title title2">  Card Details</label>
            
                        <div class="container">
                        
                            <div class="field-holder required onomaKatoxou">
                                <input type="text" id="cardHolderName" value=""  name="cardHolderName" required oninvalid="setCustomValidity('Please fill in card holder name.')"
                                oninput="this.setCustomValidity('')">
                                <label for="cardHolderName"> Cardholder name</label>
                            </div>
            
                            <div class="field-holder required">
                                <input type="text" id="cardNumber" value="" name="creditCard" pattern="[0-9]{16}" maxlength="16" minlength="16" onchange="this.setAttribute('value', this.value);" required oninvalid="setCustomValidity('Please fill in card number (16 digits).')"
                                oninput="this.setCustomValidity('')">
                                <label for="cardNumber">  Card number</label>
                            </div>
            
                            <div class="field-holder required imerominiaLiksis">
                                <input type="text" id="date" value="" name="date" maxlength="5" pattern="\d{2}/\d{2}" onchange="this.setAttribute('value', this.value);" required oninvalid="setCustomValidity('Please fill in card expiration date.')"
                                oninput="this.setCustomValidity('')">
                                <label for="date">Expiration Date</label>
                            </div>
            
                            <div class="field-holder required">
                                <input type="password" id="cvv" value="" name="cvv" pattern="\d{3}" maxlength="3" minlength="3" onchange="this.setAttribute('value', this.value);" required oninvalid="setCustomValidity('Please fill in cvv.')"
                                oninput="this.setCustomValidity('')">
                                <label for="cvv">Cvv</label>
                            </div>
                        </div>

                        
            
                        <label class="title title2 title4 politikiKratiseon xoris"> Reservation Policy</label>
            
                        <div class="field-holder terms">
                            <div>
                                <p >Check-in: After 13:00</p>
                                <p >Check-out: Before 12:00</p>
                                <p >It is possible to cancel up to 10 days before arrival with a full refund</p>
                            
                            </div>
            
                        </div>
            
                        <div>
                            <hr id="hr1">
                        </div>
            
                        <div class="field-holder down">
                            <span class="left sinolo">Total</span>
                            <span class="right" >{{sinolo}}€</span>
                        </div>
            
                        <div class="field-holder down">
                            <span class="left sinolo">Remaining amount</span>
                            <span class="right" id="xrostoumenoPoso" >{{xrostoumeno}}€</span>
                        </div>

                        <div class="posoPliromis">
                            <label for="poso" class="posaMeDosis" id="posoPliromis">Payment amount (in €)</label>
                            <input type="text" id="poso" value="" name="poso" pattern="\d+(\.\d{1,2})?" required oninvalid="setCustomValidity('Please fill in payment amount.')"
                            oninput="this.setCustomValidity('')">
                        </div>
   


            
            
                        <div class="field-holder down" id="checkout">
                            <input type="submit" class="button" value="Pay">
            
            
                        </div>
                        
                        <p class="response">{{response}}</p>
            
                    </fieldset>

                    </form>
            
               </section>
    


        </div>
        
  
    </main>