    
    
    <main>
        

        {{>userNav}}
        

        <form action="/uploadProfile" method="post" id="profilePictureForm" enctype="multipart/form-data"> 
          <div class="profile">
            <div class="profileField">
                <p class="label">First Name:</p>
                <p>{{name}}</p>

            </div>

            <div class="profileField">
              <p class="label">Last Name:</p>
              <p>{{surname}}</p>

            </div>

            <div class="profileField">
              <p class="label">Email:</p>
              <p>{{email}}</p>

            </div>

            <div class="profileField" id="secLast">
              <p class="label">Phone number:</p>
              <p>{{phone}}</p>

            </div>

            <div class="profileField">
              <label for="profileImage" class="custom-file-upload label" id="custom-text">
                Chose profile picture(up to 1920x1280)
              </label>
              <input type="file" name="profileImage" id="profileImage" accept=" image/jpeg, image/png" />
            </div>

          </div>
        </form>
        
        
        

      </main>
