



<section class="container">


    <article class="article">
        <h1>Privacy Policy and Terms and Conditions</h1>
        <div class="segment">
            
            <h2> The website was created for a learning project and the informations about the hotel are imaginery, the hotel does not exist and the reservations are fictitious. </h2>

            <p class="googleTerms">The website includes  Google Maps features and content. Their use is subject to the current versions of
                <a href="https://maps.google.com/help/terms_maps.html">Google Maps/Google Earth Additional Terms of Service</a>  and 
                <a href="https://www.google.com/policies/privacy/">Google Privacy Policy</a>. By using this website you accept these terms.
            </p>

        </div>


        
    </article>
</section>
