*,
:after,
:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: rgb(243, 243, 243);
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
	padding: 6em 2em 1em 2em;

}

.slider-wrapper {
	position: relative;
	margin: 0 auto;
}

.slider {
	display: flex;
	height: 23em;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none;
	/* Hide scrollbar IE and Edge */
	scrollbar-width: none;
	/* Hide scrollbar Firefox */
}

@media (min-width: 1600px) {
	.slider.slider {
		height: 38em;
	}
}

@media (min-width: 400px) and (max-width:1600px) {
	.slider.slider {
		height: 28em;
	}
}



@media (max-width:400px) and (min-width:250px) {
	.slider.slider {
		height: 15em;
	}
}

@media (max-width:250px) {
	.slider.slider {
		height: 10em;
	}
}


/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

.slider-button{
	position: absolute;
	z-index: 2;
	background: none;
	border: none;
	font-size: 4em;
	top:45%;
	color: rgba(255, 255, 255, 0.5);
	border-radius: 0.25rem;
	padding: 0 0.5rem;
	background-color: rgba(0, 0, 0, 0.05);
}

.slider-button:hover,
.slider-button:focus{
	color:white;
	background-color: rgba(0, 0, 0, 0.1);
}

.slider-button:focus{
	outline: 1px solid black;
}

.slider-button.prev{
	left:1rem;
}

.slider-button.next{
	right:1rem;
}

.room-title {
	background-color: rgb(245, 245, 245);
	margin: 0;
	text-align: left;
	padding: 2vh 10vw 8vh 10vw;
}

.room-title>h2 {
	font-size: 2.4em;
}

.room-title>p {
	font-size: 1.2em;
}

.bed-choice {
	position: relative;
	display: flex;
	margin-top: 1em;
	gap: 1.5em;

}

.bed-choice select {
	width: 25em;
	min-height: 3.5em;
	border-radius: 0.75em;
	border: 0.1em solid rgb(160, 160, 160);
	outline: none;
	padding: 0 0.5em;
	cursor: pointer;
}

.bed-choice button {
	width: 7.5em;
	border-radius: 1.5em;
	border: 0.05em solid rgb(160, 160, 160);
	color: white;
	background-color: black;
	font-size: 1em;

}

.bed-choice button:hover {
	background-color: rgb(60, 60, 60);
}

.benefits-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

.room-info {
	margin: 0;
	text-align: left;
	padding: 1vh 10vw;
}

.room-info h3 {
	font-size: 1.75em;
}

.room-info p {
	font-size: 1.2em;
	margin-bottom: 1.5em;
}

.benefits-box header {
	font-size: 1.4em;
	font-style: italic;
	margin-bottom: 0.25em;
}

.amenities,
.accessibility {
	margin-top: 1.5em;
}

.benefits-box ul li {
	font-size: 1em;
	line-height: 2em;
	display: flex;
	align-items: flex-start;

}

@media only screen and (min-width: 1280px) {
	.benefits-box ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.benefits-box ul li {
		width: 50%;
	}
}

@media only screen and (min-width: 860px) {

	.benefits-box {
		flex-direction: row;
	}

	.benefits-box div:first-child {
		border-right: 1px solid #ccc;
		/* Add a border to the right of each div */
		padding-right: 1em;
		/* Add some padding to separate the content from the border */
	}

	.amenities {
		margin-top: 0;
	}

	.highlights,
	.amenities,
	.accessibility {
		width: 47.5%;
	}
}


.benefits-box span {
	width: 1em;
	height: 1em;
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	min-width: 20px;
	margin-right: 0.35em;
	margin-top: 0.35em;
}

.benefits-box li p {
	font-size: 1em;
	margin-bottom: 0;
}