@media  (max-width: 600px) {

  
    :root{
      font-size: 0.8rem;
    }

    .main{
      font-size:1rem;
    }

}

body {

    margin:0;
    background: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 130vh;

  }

.offset{
  padding-top:9em;
  margin:0 auto
}
#titlosHeader{
  margin-top:1em;
  margin-bottom:2em;
  font-size:2.2em;
}

.pageWrapper{
  flex:1
}

main{
  width:90%;
  margin: 0 auto;
  height:100%;
  border: 3px solid  rgb(51, 119, 32);
  padding:1em;

}



.room{
  display:flex;
  flex-direction: row;
  width:100%;
  height:14em;
  border: 3px solid black;
  background-color: rgb(251, 249, 246);
  margin-bottom:4em;

}

.room .image{
  flex:2;
  position: relative;
  border-right:1px solid black;


}

.room img{
  object-fit: cover;
  max-height: 14em;
  height: 100%;
  width: 100%;
  
}



.text_diathesima {
  position: absolute;
  top: 0px; 
  left: 0px; 
  color: white; 
  background: rgba(0, 0, 0, 0.5); 
  padding: 5px;
}

.room .info{
  flex:2;

  color:black;
  display:flex;
  flex-direction: column;
  border-right: 2px solid black;

}

.info p{

  margin:0 auto;

}

.info p:first-child{

  text-align: center;
  padding-left:0.1em;
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  padding:0.6em 0em;
  border-bottom: 3px solid black;
}

.info p:nth-child(2){
  padding-top:0.5em;
  display:inline-block;
  margin:0 auto;
  margin-bottom:0.5em;
}

.info ul{
  margin-top:0;
  border-bottom: 2px solid black;
  padding-left:1.5em;
  text-align: left;
  font-size: 0.9em;
  padding-bottom:1em;
}

.atoma .image_container{
  display: inline-block;
  width:2em;
  height:1em ;
  overflow: hidden;

}

.atoma{
  padding-left:1em;
}

.atoma_bed{
  display:inline-block
}

.atoma div.atoma_bed:nth-of-type(1){
  margin-right:1em;
}


@media  (max-width: 830px) {

  .room{
    flex-direction: column;
    height: fit-content;
    font-size:1.3em !important;

  }

  

  .info{
    border-right:none;
    border-bottom:3px solid black;
    border-right:none !important;

  }

  main{
    padding-left:0.4em;
    border: none;
  }

  .book{
    border-top:3px solid black;
  }

  .book button{
    font-size: 0.7em;;
  }


  .times{
    border-right:none !important;
  }

  .inner{
    border-right:1px solid black !important;
  }

  .room .image{
    border-right:none;
  }
}

.times{
  max-width: fit-content;
  min-width: 200px;
  position:relative;
  flex:1.8;
  display:flex;
  justify-content: space-between;
  overflow: hidden !important;
  border-right:3px solid black;
}

.times .inner{
  flex:0

}

.times .empty{
  flex:10;
}


.inner {
  flex:1;
  min-width: 90px ;
  height:auto;
  min-height:10em;
  border-right:2px solid black;
  margin:0;
  padding:0;
  display: inline-block; /* Display divs inline */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  

}


.inner p:last-child{
  padding:1em;
  color:white;
  border-radius: 50%;
  background-color: rgb(131, 131, 31);
  ;
}

.times button{
  position:absolute;
  border:none;
  background-color: transparent;
}

.times button:hover{
	background-color: rgba(0, 0, 0, 0.1);
}


.btnLeft{
  top:50%;
}

.btnRight{
  right:0;
  top:50%;
}

.book{
  position: relative;
  flex:0.7;
  font-size: 1.2em;
  min-height: 10em;;
}

.book > *{
  margin-left:1em;
}
.book .imer{
  margin-top:0.5em;

  
}

.book .kostos{
  top:40%;
  position:absolute;
}

.book button{
  padding:1.4em;
  color:white;
  border-radius: 50%;
  background-color: rgb(131, 131, 31);
  border:none;
  bottom:0%;
  position: absolute;
  bottom:1em;
  right:2em;
}

.book button:hover{
  background-color: rgb(98, 98, 28);
  cursor: pointer;

}
