body {

    margin:0;
    padding:0;
    background: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  }

main{
    flex:1;
    margin-top:4.7em;

    display:flex;
    flex-direction: row;
}

.picture_container{
    position: relative;
    min-height:1000px;
    width:40%;
}
.picture_container p{
    position: absolute;
    top:0em;
    font-size:3em;
    color: rgb(255, 255, 255);
    left:1em;
}

footer{
    margin-top:0;
    margin-bottom:0;
}



.picture_container img{
    width: 100%; /* Make the image take 100% width of its container */
    height: 100%; /* Make the image take 100% height of its container */
    object-fit: cover; /* Ensure the image covers the entire container */
    display: block; /* Remove any extra spacing */
    
}
div.wrapper{
    width: 60%;
}

main .form_container{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top:17em;
    align-items: center; /* Vertically center the items */
}

#welcome{
    position: relative;
    margin:0 auto;
    top:1em;
    display: flex;
    margin-left:1em;
    font-size:4em;
}

form{
    display:flex;
    flex-direction: column;
}

form.login input{
    padding:1em;
    margin:0.5em;
    border: 2px  solid  rgb(98, 98, 28);;
    width:250px;
    outline: none;
}

form.login .button{
    background-color: white;
    border-radius: 2em;
	background-color: rgb(98, 98, 28);
    border:none;
    color: white;
    width:90%;;
	font-size: 1em;
    margin:0 auto;
    margin-top:0.5em;
    margin-bottom:1em;

}


form.login .button:hover{
    background-color: rgb(131, 131, 31);
    cursor:pointer;

}

p.wrong_cred{
    display: none;
    color: rgb(226, 45, 45);
    margin:0 auto;
}
p.wrong_cred.active{
    display: block;
}

div.eggrafi{
    margin-top:1em;
}

a:hover{
    cursor: pointer;
}


@media  (max-width: 700px){
    main{
        flex-direction: column;
    }

    .picture_container{
        height:20em;
        width:100% !important;
        min-height: 0;
    }

    .picture_container p{
        left:0.2em;
    }

    :root{
        font-size: 0.8rem;
    }

    div.wrapper{
       width: 100%;
    }


    main .form_container{
        top:0;
        bottom:0;
    }

    #welcome{
        margin-top:1em;
        justify-content: center;
        font-size: 2em;
        margin:0 auto;
        margin-bottom:2em;

    }
    

    main .form_container{
        margin-top: 3em;
    }



    form.login input{
        width:200px;
    }

    .container{
        /* width:90%; */
        margin:0 auto;
        margin-bottom: 1em;
    }

    


    .form_container div.container{
        margin-bottom: 5em;;
    }

}

